@{
     ViewData["Title"] = "Home Page";
}
<div class="text-center">
     <h1 class="display-4">Welcome</h1>

</div>
<h4> signalr notification </h4>
 <div id="articleList"></div>
<script>
     function ready() {
}
     //random number between 1 and 100 for demo
     var userId = Math.floor((Math.random() * 100) + 1); document.addEventListener("DOMContentLoaded", ready);
</script>
<script src="~/signalrjs/lib/signalr.js"></script>
<script src="~/js/notification.js"></script>